fastapi

uvicorn

sqlalchemy

passlib

# bcrypt==4.2.0 --force-reinstall

python-jose

python-multipart

jinja2

fastapi-mail[httpx]

numpy

pandas

openai

firebase-admin

apscheduler

pytz

psycopg2-binary

python-dotenv